<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="Castle.Windsor" version="3.4.0" targetFramework="net46" />
  <package id="MahApps.Metro" version="1.4.3" targetFramework="net46" />
  <package id="MahApps.Metro.IconPacks" version="1.7.0" targetFramework="net46" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net45" />
  <package id="Ragnar" version="0.6.0" targetFramework="net46" />
  <package id="RestSharp" version="105.2.3" targetFramework="net46" />
  <package id="StrikeApiLib" version="1.0.0" targetFramework="net46" developmentDependency="true" />
</packages>