<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net46" />
  <package id="System.Net.Torrent" version="0.2.1" targetFramework="net452" />
  <package id="ThePirateSharp" version="1.0.3" targetFramework="net46" />
</packages>